@(gameForm: Form[Game], user: User)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main(user) {
    
    <h1>Add a game</h1>
    
    @if(gameForm.hasGlobalErrors) { 
        <div class="alert alert-danger">
            <strong>Error!</strong> @gameForm.globalError.message()
        </div>
    } 
    
    @form(routes.Games.save()) {
      @inputText(gameForm("title"), '_label -> "Game title")
      <input type="hidden" id="@gameForm("createdBy.email").id" name="@gameForm("createdBy.email").name" value="@user.email" />
      <button type="submit" class="btn btn-success">Create this game</button> or 
      <a href="@routes.Games.list()" class="btn">Cancel</a> 
        
    }
    
}