@(id: Long, gameForm: Form[Game], user: User)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main(user) {
    
  <h1 class="text-info">Edit game</h1>
    
  @form(routes.Games.update(id)) {
  
    @checkbox(gameForm("owned"), '_label -> "Owned")
          
    <div class="actions">
      <button type="submit" class="btn btn-success">Save this game</button> or 
      <a href="@routes.Games.list()" class="btn btn-default">Cancel</a> 
    </div>
        
  }  
}
