@(error: String, wantedGames: List[Game], ownedGames: List[Game], user: User)

@import helper._

@**************************************
* Helper for generating table headers *
**************************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_")">@title</th>
}

@main(user) {
    
    <h1 class="text-info">@Messages("wantedGames.list.title", wantedGames.size)</h1>
    
    @if(error) {
      <div class="alert alert-danger">
        <strong>Error!</strong> @error
      </div>
    }
    
    @if(flash.containsKey("success")) {
      <div class="alert alert-success">
          <strong>Success!</strong> @flash.get("success")
      </div>
    } 

    <div id="actions">
        <a class="btn btn-success" id="add" href="@routes.Games.create()">Add a new game</a>
    </div>
    
    @if(wantedGames.size == 0) {
        <div class="well">
            <em>Nothing to display</em>
        </div>
    } else {
        <table class="games table table-striped">
            <thead>
                <tr>
                    @header("title", "Game title")
                    @header("votes", "Votes")
                    @header("vote", "")
                </tr>
            </thead>
            <tbody>

                @for(game <- wantedGames) {
                    <tr>
                        <td><a href="@routes.Games.edit(game.id)">@game.title</a></td>
                        <td><span class="badge">@game.votes.size</span></td>
                        <td>
                        @form(routes.Games.vote(game.id)) {
                            <input type="submit" value="Vote for this game" class="btn btn-default">
                        }
                }

            </tbody>
        </table>
    }
    
    <h1 class="text-info">@Messages("ownedGames.list.title", ownedGames.size)</h1>
    
    @if(ownedGames.size == 0) {
        <div class="well">
            <em>Nothing to display</em>
        </div>
    } else {
        <table class="games table table-striped">
            <thead>
                <tr>
                    @header("title", "Game title")
                </tr>
            </thead>
            <tbody>

                @for(game <- ownedGames) {
                    <tr>
                        <td>@game.title</td>
                    </tr>
                }

            </tbody>
        </table>
    }
    
}

            